*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    border-bottom: 0.3px solid rgb(190, 190, 190);
    align-content: center; 
    background-color: #013a63;
}

body{
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 50px 1fr 150px;
    border: 1px solid black;
}

.left-header{
    display: grid;
    padding: 0.5rem;

}

.left-nav{

    list-style: none;
}

.left-nav a{
    text-decoration: none;  
    color: whitesmoke;;
}

.left-nav-items{
    display: inline;
    margin: 1rem;
}


.right-header{
    display: grid;
    justify-content: end;
    padding: 0.5rem;

}

.right-nav{
    list-style: none;
}

.right-nav a{
    text-decoration: none;  
    color: whitesmoke;
}

.right-nav li{
    display: inline;
    margin: 1rem;
}

.modal-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000030;
    place-items: center;
    display: grid;
}

.btn-wrapper{
    display: grid;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    position: relative;
    padding: 2rem;
    align-items: center;
    gap: 0.5rem;
}

.signin-form{
    display: grid;
    justify-items: center;
    gap: 0.5rem;
}

.email-input{
    height: 1.5rem;
    border-radius: 5rem;
    width: 20vw;
}

.password-input{
    height: 1.5rem;
    border-radius: 5rem;
    width: 20vw;
}

.signin-button{
    height: 1.5rem;
    border-radius: 5rem;
    width: 20vw;
    background-color: rgba(54, 54, 197, 0.753);
}

.header-logo{
    display: none;
}


main{
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    padding: 1rem;
    justify-items: center;
    border: 1px solid   black;
    gap: 1rem;
}

.search-section{
    /* border: 1px solid black; */
    text-align: center;
    padding: 0.2rem;
    display: grid;
    gap: 0.5rem;

}

.search-section__{
     /* border: 1px solid black; */
}

.search-box{
    width: 25vw;
    height: 25px;
    border-radius: 10px;
    border: solid 0.1px #2a6f97;
    padding: 0.5rem;
    margin: 0.2rem;
}

.search-button{
    height: 25px;
    border: solid 0.1px #2a6f97;
    border-radius: 5rem;
}


.post-find a{
    text-decoration: none;
    color: black;
}


.recent-searches {
    display: grid;
    border: 1px solid black;
  }
  
  .recent-searches__ {
    display: grid;
    grid-template-columns: 80px 1fr auto;
  }
  
  .logo {
    display: grid;
    border: 1px solid black;
    width: 80px;
  }
  .company-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
  }
  
  .job-possition {
    display: grid;
    border: 1px solid black;
  }
  
  .company-data ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 1rem;
    justify-items: center;
  }
  
  .about-info {
    display: grid;
    border: 1px solid black;
    grid-template-rows: 1fr 1fr;
    width: 5rem;
  }


  .suggested-searches {
    display: grid;
    /* border: 1px solid black; */
  }
  
  .suggested {
    display: grid;
    grid-template-rows: 80px 20px;
    border: 1px solid black;
  }



footer {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 2rem ;
    bottom: 0%;
    background-color: #013a63;
    padding: 0.5rem;
}

.footer-nav-menu{
    list-style: none;
}

.footer-nav-menu li{
    display: inline;
    padding: 0.5rem;
}
.footer-nav-menu a{
    text-decoration: none;
    color: whitesmoke;;
}




.footer-nav__{
    color: whitesmoke;
    text-align: center;
}

.footer-nav__ a{
    color: whitesmoke;
    text-decoration: none;
}
