*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    border-bottom: 0.3px solid rgb(190, 190, 190);
    align-content: center; 
    background-color: #013a63;
}

body{
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 70px 1fr 150px;
    /* border: 1px solid black; */
}

.left-header{
    display: grid;
    padding: 0.5rem;

}

.left-nav{

    list-style: none;
}

.left-nav a{
    text-decoration: none;  
    color: whitesmoke;;

}

.left-nav-items :hover {
    color: aqua;
}

.left-nav-items{
    display: inline;
    margin: 1rem;
}


.right-header{
    display: grid;
    justify-content: end;
    padding: 0.5rem;

}

.right-nav{
    list-style: none;
}

.right-nav a{
    text-decoration: none;  
    color: whitesmoke;
}

.right-nav li{
    display: inline;
    margin: 1rem;
}

.modal-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000030;
    place-items: center;
    display: grid;
}

.btn-wrapper{
    display: grid;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    position: relative;
    padding: 2rem;
    align-items: center;
    gap: 0.5rem;
}

.sign-in-form{
    display: grid;
    gap: 0.5rem;
}


.signin-form{
    display: grid;
    gap: 0.5rem;
}

.email-input{
    height: 1.5rem;
    border-radius: 5rem;
    width: 20vw;
}

.password-input{
    height: 1.5rem;
    border-radius: 5rem;
    width: 20vw;
}

.signin-button{
    height: 1.5rem;
    border-radius: 5rem;
    width: 20vw;
    background-color: rgba(54, 54, 197, 0.753);
}

.header-logo{
    display: none;
}


main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1.5rem;
    justify-items: center;
    /* border: 1px solid   black; */
    gap: 2rem;
}

.search-section{
    /* border: 1px solid black; */
    text-align: center;
    padding: 0.2rem;
    display: grid;
    gap: 0.5rem;

}


.search-box-title {
    width: 25vw;
    height: 25px;
    border-radius: 10px;
    border: solid 0.1px #2a6f97;
    padding: 0.5rem;
    margin: 0.2rem;
}

.search-box-city {
    width: 25vw;
    height: 25px;
    border-radius: 10px;
    border: solid 0.1px #2a6f97;
    padding: 0.5rem;
    margin: 0.2rem;
}


.search-button{
    height: 25px;
    border: solid 0.1px #2a6f97;
    border-radius: 5rem;
}


.post-find a{
    text-decoration: none;
    color: black;
}


.recent-searches {
    display: grid;
    height: 60px;
    gap: 1.5rem;
    /* width: 100%; */
    height: 100%;

    
    
  }
  
  .recent-searches__ {
    display: grid;
    grid-template-columns: 80px 1fr auto;
    background-color: rgba(214, 214, 214, 0.25);
    border-radius: 15px; 
    padding: 0.8rem;
  }


  .recent-searches :hover {
      background-color: gainsboro;
     
  }
  

  .logo {
    display: grid;
    width: 80px;
  }

  .logo-img{
      width: 80px;
  }
  .company-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 80px;
  }
  
  .job-possition {
    display: grid;
    /* border: 1px solid black; */
  }
  
  .company-data ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 1rem;
    justify-items: center;
  }

  .company-data li {
      color: slateblue;
  }


  
  .about-info {
    display: grid;
    /* border: 1px solid black; */
    grid-template-rows: 1fr 1fr;
    width: 5rem;
  }


  .suggested-searches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px , 0.5fr));
    gap: 1rem;
    width: 80%;
    height: 20%;
    /* border: 1px solid black; */
  }
  
  .suggested {
   display: grid;
   grid-template-rows: 50px 20px;
  }

  .suggested img{
    display: grid;
    width: 100px;
  }

  .company-wraper{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: whitesmoke;
    padding: 1rem;
}


.company-content{
    display: grid;
    background-color: rgba(245, 245, 245, 0.466);
}


.wraper-reviews{
    background-color: rgba(245, 245, 245, 0.466);
    padding: 1rem;
}



.review-div {
    padding: 1rem;
}

p.text-review {
    padding: 0.3rem;
    border-bottom: solid 1px grey;

    
}

p.description-footer-reviews {
    color: rgba(0, 0, 0, 0.65);
}

button.submit-button {
    background-color: royalblue;
    color: white;
}

.footer-reviews-section{
    display: grid;
    
}

.div-container{
    display: grid;
    gap: 0.2rem;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.466);
    padding: 0.5rem;
}

.job-section{
    display: grid;
    gap: 0.5rem;

    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
   
}


footer {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 2rem ;
    bottom: 0%;
    background-color: #013a63;
    padding: 0.5rem;
}

.footer-nav-menu{
    list-style: none;
}

.footer-nav-menu li{
    display: inline;
    padding: 0.5rem;
}
.footer-nav-menu a{
    text-decoration: none;
    color: whitesmoke;;
}



.footer-nav__{
    color: whitesmoke;
    text-align: center;
}

.footer-nav__ a{
    color: whitesmoke;
    text-decoration: none;
}
